<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>科技</title>
	<link rel="stylesheet" href="/css/keji/keji.css">
	<link rel="stylesheet" href="/css/keji/logo.css">
	<link rel="stylesheet" href="/css/keji/top-down.css">
	<link rel="stylesheet" href="/css/keji/bottom.css">
	<script src="/js/jquery-1.12.4.js"></script>
	<style>
		.dog {
			width: 100%;
			height: 100%;
			position: absolute;
			z-index: 999999;
		}
	</style>
</head>
<body>
<div class="dog">
	<iframe src="/html/dog.html" width="100%" height="100%" scrolling="auto" frameborder="0">
	</iframe>
</div>
	<!-- 头部下拉 -->
	<div class="top-list">
		<div class="logoList" id="logoList">
			<ul>
				<li>
					<div>
						<h3>森林</h3>
						<p>树林中，透着寂静，抬头仰望，阳光正透过树叶间的林荫照射下来，像繁星在空中闪烁，有些刺眼，却十分晶莹美丽，透着不可捉摸的静谧。</p>
						<a href="/earth/ziran" class="EnterThe">进入<sapn class="iconfont">&#xe625;</sapn></a>
					</div>
				</li>
				<li>
					<div>
						<h3>海洋</h3>
						<p>海，真的海，同北方高原那片苍茫的土地一样，凝聚着一种无法言说的神秘的生命力，给人一种超越自然的深刻。</p>
						<a href="/earth/seal" class="EnterThe">进入<sapn class="iconfont">&#xe625;</sapn></a>
					</div>
				</li>
				<li>
					<div>
						<h3>未来</h3>
						<p>AI试图在寻觅灵魂，复制人试图在保护灵魂，人类却试图在抛弃灵魂。</p>
						<a href="/earth/keji" class="EnterThe">进入<sapn class="iconfont">&#xe625;</sapn></a>
					</div>
				</li>
				<li>
					<div>
						<h3>星系</h3>
						<p>一望无际的尽头，是否还有人们期待的第二个地球呢？我想，那无限的宇宙空间定然充满了神奇。</p>
						<a href="http://127.0.0.1:8020/yuzhou/index.html?__hbt=1618313090143" class="EnterThe">进入<sapn class="iconfont">&#xe625;</sapn></a>
					</div>
				</li>
			</ul>
		</div>
		<div class="TL-content"></div>
		<span class="iconfont TL-btn">&#xe630;</span>
	</div>

	<!--1内容-->
	<div id="s2">
		<iframe src="/html/feiji.html" scrolling="0" frameborder="0"></iframe>
		<!--
		<div id="t1">
			
		</div>
		<video id="videos1" src="./vidao/keji/080695da-2efc-11eb-aabf-0242ac110002.mp4" autobuffer autoloop loop></video>
		-->
	</div>


	<!--2内容-->
	<div id="tit">
		<ul id="tit-nei">
			<li>
				<div id="tit-nei-img"><img src="/images/keji/tb1.png" alt="" height="90px"></div>
				<div id="tit-nei-tit">数控城市</div>
				<div id="tit-nei-fen"></div>
				<div id="tit-nei-nei">整个城市使用高级计算机控制的井井有序</div>
			</li>
			<li>
				<div id="tit-nei-img"><img src="/images/keji/tb2.png" alt="" height="90px"></div>
				<div id="tit-nei-tit">磁波覆盖</div>
				<div id="tit-nei-fen"></div>
				<div id="tit-nei-nei">人们不再使用信号，新型电磁波卫星覆盖包含全部</div>
			</li>
			<li>
				<div id="tit-nei-img"><img src="/images/keji/tb3.png" alt="" height="90px"></div>
				<div id="tit-nei-tit">智慧大脑</div>
				<div id="tit-nei-fen"></div>
				<div id="tit-nei-nei">人类可以通过高级手段来提升开发自己的大脑</div>

			</li>
			<li>
				<div id="tit-nei-img"><img src="/images/keji/tb4.png" alt="" height="90px"></div>
				<div id="tit-nei-tit">智能机器人</div>
				<div id="tit-nei-fen"></div>
				<div id="tit-nei-nei">机器人已经覆盖全球人们使用了一种神秘的力量来...</div>
			</li>
		</ul>
	</div>

	<br/>
	
	<br/>

	<!--3内容-->
	<div id="s3">
		<div id="left1">
			<div id="ban1">
				<div id="nnn1">
					<p>未来城市</p>
					<img src="/images/ziran/xian.jpg" height="3" width="150" alt="">
					<p>赛博朋克的城市里面应该是一个科技高度发达的社会，城市图景可能是雾蒙蒙的，
						灯光迷幻。里面应该会有很多人机一体的装置，城市里的人有比较极端的秩序，
						表面混乱，但内里是一个很有制度的地方。
					</p>
					<br/>
					<p>Cyberpunk's city should be a society with highly developed technology, 
						and the urban landscape may be foggy,
						The lights are psychedelic. There should be a lot of man-machine 
						integration devices inside. People in cities have extreme order,
						On the surface, it's chaotic, but on the inside,
						it's a very systematic place.
					</p>
					<div id="im1"></div>
				</div>
			</div>
		</div>
		<div id="big1">
			<img src="/images/keji/tubiao1.png" height="100px" alt="向左收回">
		</div>
		<div id="big2">
			<img src="/images/keji/tubiao2.png" height="100px" alt="向右展开">
		</div>
		<div id="right1">
			
		</div>
	</div>

	<br>

	<!--4内容-->
	<div id="s4">
		<div id="s4-bt1">
			<p>了解更多未来事物</p>
			<p>感受人类科技的发展进化</p>
		</div>
		<div id="s4-n1">
			<iframe src="https://www.hightopo.com/demo/city/" scrolling="0" frameborder="0"></iframe>
		</div>
	</div>

	<!--4内容-->
	<div id="s5">
		<section class="g-word">
			<img src="/images/keji/shi-11.jpg" height="598" width="1900" alt="">
		</section>
		<section class="g-img1"></section>
		<section class="g-word">
			<img src="/images/keji/shi-22.jpg" height="598" width="1900" alt="">
		</section>
		<section class="g-img2"></section>
		<section class="g-word">
			<img src="/images/keji/shi-33.jpg" height="598" width="1900" alt="">
		</section>
		<section class="g-img3"></section>
		<section class="g-word">
			<img src="/images/keji/shi-44.jpg" height="598" width="1900" alt="">
		</section>
		<section class="g-img4"></section>
	<br/>




	<!--底部-->
	<div class="PageBottom" id="bottom">
		<div class="PBOne">
			<div class="PBLogo"></div>
			<div class="PBContent">
				<div><span class="iconfont">&#xe617;</span>关于我们</div>
				<div><span class="iconfont">&#xe612;</span>加入我们</div>
				<div class="QrCode"><span class="iconfont">&#xe69a;<img src="/images/二维码.jpg" alt="二维码"></span></div>
			</div>
		</div>
		<div class="PBTwo">
			<div>
				<a href="javascript:;">广告投放</a>
				<a href="javascript:;">用户服务协议</a>
				<a href="javascript:;">隐私政策</a>
				<a href="javascript:;">帐号找回</a>
				<a href="javascript:;">联系我们</a>
				<a href="javascript:;">营业执照</a>
			</div>
			<div>
				<div><a href="javascript:;">不良图片曝光台</a> ｜ <a href="javascript:;">有害信息举报</a>  ｜ 违法和不良信息举报：155-233-4311 ｜ 未成年人守护热线：186-2376-1757 ｜ 举报邮箱：2363708758@qq.com</div>
				<div>2021 © 地球浏览器 ｜ <a href="javascript:;">京ICP备5244546号-3</a>  ｜ 洛阳地球村科技有限公司 ｜ 京B2-20175418 ｜ 网络文化许可证-京网文-（2016）2282-264号 ｜  <a href="javascript:;">京公网安备 55234343126号</a></div>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript" src="/js/keji/bottom.js"></script>
<script type="text/javascript" src="/js/keji/keji.js"></script>
<script>
	window.onload = function () {
		$(".dog").fadeOut(500);
	}
	$(function () {
		$(".PBLogo").click(function () {
			window.location.href = "http://localhost:8000/earth/index";
		})
	})
</script>
</html>